<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/tenispadel</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    
        <mapping resource="Principal/Grupo.hbm.xml"/>
        <mapping resource="Principal/Club.hbm.xml"/>
        <mapping resource="Principal/Jugador.hbm.xml"/>
        <mapping resource="Principal/Equipo.hbm.xml"/>
        <mapping resource="Principal/Competicion.hbm.xml"/>
        <mapping resource="Principal/Set.hbm.xml"/>
        <mapping resource="Principal/Partido.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
